:root {
  --_hue: 262;
  --color: var(--_hue) 90% 60%;
}

.container {
  border: 1px solid hsl(var(--color));
  padding: 15px 20px;
  border-radius: 10px;
}

.title {
  color: gray;
  font-size: 12px;
  transform: scale(0.9);
  transform-origin: left;
  margin-bottom: 8px;
}

.numberDisplay {
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
}

.digitWrapper {
  width: 24px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  background: hsl(var(--color));
  position: relative;
  border-radius: 6px;
  margin-right: 2px;
  text-align: center;
  overflow: hidden;
}

.digitWrapper:last-child {
  margin-right: 0;
}

.digitLists {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  transition: transform 300ms;
}

.colorRange {
  position: absolute;
  top: 20px;
  right: 20px;
  /* background: red; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn:hover{
  background: #ddd;
}

.setting {
  width: 24px;
  height: 24px;
}

.cancel {
  width: 24px;
  height: 24px;
}

.range {
  display: flex;
  align-items: center;
}

.inputColorRange {
  appearance: none;
  outline: none;
  height: 6px;
  width: 200px;
  border: 1px solid gray;
  border-radius: 100vmax;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  margin-right: 12px;
}

.inputColorRange::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border: 1px solid grey;
  border-radius: 100vmax;
  background-color: hsl(var(--color));
  cursor: ew-resize;
}
